
<div class="container-fluid">    
    <div class="row justify-content-md-center bg-primary"> 
        <div class="col-md-auto d-sm-flex center-div bg-light">
            <div class="col-md-8 center-inner-div py-5">

                <h1 class="text-center pb-3">Login to #SaySomething</h1>

                <form role="login" class="was-validated" (submit)="check()">
            <div class="form-group row">
                <div class="col">
                    <input type="text" name="username" [(ngModel)]="username" class="form-control" placeholder="Username" autofocus autocomplete="username" 
                        required minlength="4" aria-label="Username" aria-describedby="usernameHelpBlock" >
                        <small id="usernameHelpBlock" class="form-text text-muted">
                            Your username must be 4-12 characters long.
                        </small>
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <div class="input-group">
                        <input [type]="show ? 'text' : 'password'" name="password" [(ngModel)]="password" class="form-control" placeholder="Password" autocomplete="current-password" 
                            required minlength="4" aria-label="Password" aria-describedby="passwordHelpBlock">
                        <div class="input-group-append">
                            <span class="input-group-text" (click)="show=!show;"><i class="fa" [ngClass]="show ? 'fa-eye-slash' : 'fa-eye'" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    
                    <small id="passwordHelpBlock" class="form-text text-muted">
                    Your password must be 4-12 characters long.
                    </small>
                </div>
            </div>

            
            <div class="info-box" *ngIf="message!=''">{{message}}</div>


            <div class="form-group row">
                <div class="col">
                    <button type="submit" id="login-btn" class="btn btn-primary btn-lg btn-block">Login</button>
                </div>
            </div>

            
                </form>

                <a class="nav-link text-secondary text-center mt-2" routerLink="/about" routerLinkActive="active">About App</a>

            </div>
        </div>
    </div>
</div>