a:hover {
    text-decoration: none;
}
.center-div{
    /* magic is in the min-* */
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.center-inner-div{
    /*width: 60%;*/
    margin: 0 auto;
}
.bg-black{
    background-color: black;
}